.env*
bin/
.DS_Store
transfer.sh
files/etc/*
!files/etc/opkg
files/etc/opkg/*
!files/etc/opkg/keys/

!files/etc/uci-defaults
files/etc/uci-defaults/*
files/root/*
!files/etc/uci-defaults/89-network
!files/etc/uci-defaults/90-passwall
!files/etc/uci-defaults/90-openclash
!files/etc/uci-defaults/91-system
!files/etc/uci-defaults/99-ipv6
!files/etc/uci-defaults/99-daed
!files/etc/uci-defaults/99-opkg
!files/etc/uci-defaults-proxy-client

!files/etc/hotplug.d/
files/etc/hotplug.d/*
!files/etc/hotplug.d/iface
files/etc/hotplug.d/iface/*
!files/etc/hotplug.d/iface/99-clash
!files/etc/hotplug.d/iface/99-odhcpd

docker-compose.yml