.env*
bin/
.DS_Store
transfer.sh
files/etc/*
!files/etc/opkg
files/etc/opkg/*
!files/etc/opkg/keys/

!files/etc/uci-defaults
files/etc/uci-defaults/*
!files/etc/uci-defaults/network.sh
!files/etc/uci-defaults/openclash.sh
!files/etc/uci-defaults/system.sh
docker-compose.yml