.env*
bin/
.DS_Store
transfer.sh
files/etc/*
!files/etc/opkg
files/etc/opkg/*
!files/etc/opkg/keys/

!files/etc/uci-defaults
files/etc/uci-defaults/*
!files/etc/uci-defaults/89-network
!files/etc/uci-defaults/90-openclash
!files/etc/uci-defaults/91-system
docker-compose.yml